<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="mt20">
          <mat-card-header>
            <mat-card-title>
              Lea las instrucciones de esta página cuidadosamente
            </mat-card-title>
          </mat-card-header>
          <mat-card-subtitle class="ml20">Un paso más para ir</mat-card-subtitle>
          <mat-card-content class="ml20">
            <mat-divider></mat-divider>

            <br>
            <h1>Intentos de la prueba</h1>
            <ul>
            </ul>
          </mat-card-content>


        </mat-card>
      </div>
    </div>
  </div>
</div>
