<mat-card>
  <div class="mt10 mb20 ml10">
    <mat-card-header>
      <mat-card-title>
        <h1 class="ml20">Actualizar el cargo {{cargo.id}}) {{cargo.nombre}}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="row">
          <div class="col-md-10 offset-md-1">


            <form (ngSubmit)="actualizarDatos()">

              <div class="mb10">
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Titulo</mat-label>
                  <input required autofocus type="text" name="nombre" matInput placeholder="Digite el nombre del cargo"
                         [(ngModel)] = "cargo.nombre"
                  >
                </mat-form-field>
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Descripción</mat-label>
                  <textarea required name="Descripcion" matInput placeholder="Digite la descripcion del cargo" rows="15"
                            [(ngModel)] = "cargo.descripcion"
                  ></textarea>
                </mat-form-field>
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Codigo</mat-label>

                  <input required autofocus type="text" name="codigo" matInput placeholder="Digite el codigo del cargo"
                         [(ngModel)] = "cargo.codigo"
                  >
                </mat-form-field>
              </div>
                <mat-slide-toggle class="mt20" name = "activo" [(ngModel)] = "cargo.estado" color="primary">
                  Estado disponible de cargo
                </mat-slide-toggle>

                <div class="container text-center mt15">
                  <button  mat-raised-button color="primary">Guardar</button>
                </div>

              <div>{{cargo|json}}</div>

            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </div>
</mat-card>
