<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button routerLink = "/admin" mat-list-item>
      <mat-icon >home</mat-icon> Inicio
    </button>
    <button mat-list-item routerLink = "/admin/profile">
      <mat-icon >account_circle</mat-icon>Perfil
    </button>
    <button mat-list-item routerLink = "/admin/categorias">
      <mat-icon >list</mat-icon>Categorías
    </button>
    <button mat-list-item routerLink = "/admin/add-categoria">
      <mat-icon >add_circle_outline</mat-icon>Agregar categoría
    </button>
    <button mat-list-item routerLink = "/admin/examenes">
      <mat-icon >quiz</mat-icon>Cuestionarios
    </button>
    <button mat-list-item routerLink = "/admin/add-examen">
      <mat-icon >add</mat-icon>Agregar cuestionario
    </button>
    <button mat-list-item routerLink = "/admin/view-cargos">
      <mat-icon >list</mat-icon>View Cargos
    </button>
    <button mat-list-item routerLink = "/admin/add-cargo">
      <mat-icon >add</mat-icon>Agregars Cargos
    </button>
    <button mat-list-item (click) = "logout()">
      <mat-icon >logout</mat-icon>Salir
    </button>
  </mat-action-list>
</mat-card>
